<%= provide(:title, 'Users')%>
<%= will_paginate %>

<div class="row">
  <aside class="col-md-4">
    <h1>Users List</h1>
      <% @users.each do |user| %>
        <section class="user_info">
          <h1>
            <%= gravatar_for user, size: 90 %>
            <a href="<%= user_path(user) %>"><%= user.name %></a>
          </h1>
          email: <%= user.email %>
        </section>
      <% end %>
  </aside>
</div>

<%= will_paginate %>
